.mm01_icon {
    background-image: url(../img/gifts/1@2x.png);
}

.mm01_icon2 {
    background-image: url(../img/gifts/1b@2x.png);
}

.mm01_img {
    background-image: url(../img/gifts/img1@2x.jpg);
}

.mm02_icon {
    background-image: url(../img/gifts/2@2x.png);
}

.mm02_icon2 {
    background-image: url(../img/gifts/2b@2x.png);
}

.mm02_img {
    background-image: url(../img/gifts/img2@2x.jpg);
}

.mm03_icon {
    background-image: url(../img/gifts/3@2x.png);
}

.mm03_icon2 {
    background-image: url(../img/gifts/3b@2x.png);
}

.mm03_img {
    background-image: url(../img/gifts/img3@2x.jpg);
}

.mm04_icon {
    background-image: url(../img/gifts/4@2x.png);
}

.mm04_icon2 {
    background-image: url(../img/gifts/4b@2x.png);
}

.mm04_img {
    background-image: url(../img/gifts/img4@2x.jpg);
}

.mm05_icon {
    background-image: url(../img/gifts/5@2x.png);
}

.mm05_icon2 {
    background-image: url(../img/gifts/5b@2x.png);
}

.mm05_img {
    background-image: url(../img/gifts/img5@2x.jpg);
}

.mm06_icon {
    background-image: url(../img/gifts/6@2x.png);
}

.mm06_icon2 {
    background-image: url(../img/gifts/6b@2x.png);
}

.mm06_img {
    background-image: url(../img/gifts/img6@2x.jpg);
}

.mm07_icon {
    background-image: url(../img/gifts/7@2x.png);
}

.mm07_icon2 {
    background-image: url(../img/gifts/7b@2x.png);
}

.mm07_img {
    background-image: url(../img/gifts/img7@2x.jpg);
}

.mm08_icon {
    background-image: url(../img/gifts/8@2x.png);
}

.mm08_icon2 {
    background-image: url(../img/gifts/8b@2x.png);
}

.mm08_img {
    background-image: url(../img/gifts/img8@2x.jpg);
}

.mm09_icon {
    background-image: url(../img/gifts/9@2x.png);
}

.mm09_icon2 {
    background-image: url(../img/gifts/9b@2x.png);
}

.mm09_img {
    background-image: url(../img/gifts/img9@2x.jpg);
}

.mm10_icon {
    background-image: url(../img/gifts/10@2x.png);
}

.mm10_icon2 {
    background-image: url(../img/gifts/10b@2x.png);
}

.mm10_img {
    background-image: url(../img/gifts/img10@2x.jpg);
}

.mm11_icon {
    background-image: url(../img/gifts/11@2x.png);
}

.mm11_icon2 {
    background-image: url(../img/gifts/11b@2x.png);
}

.mm11_img {
    background-image: url(../img/gifts/img11@2x.jpg);
}

.mm12_icon {
    background-image: url(../img/gifts/12@2x.png);
}

.mm12_icon2 {
    background-image: url(../img/gifts/12b@2x.png);
}

.mm12_img {
    background-image: url(../img/gifts/img12@2x.jpg);
}

.mm13_icon {
    background-image: url(../img/gifts/13@2x.png);
}

.mm13_icon2 {
    background-image: url(../img/gifts/13b@2x.png);
}

.mm13_img {
    background-image: url(../img/gifts/img13@2x.jpg);
}

.mm14_icon {
    background-image: url(../img/gifts/14@2x.jpg);
}

.mm14_icon2 {
    background-image: url(../img/gifts/14b@2x.png);
}

.mm14_img {
    background-image: url(../img/gifts/img14@2x.jpg);
}

.mm15_img {
    background-image: url(../img/gifts/img15@2x.jpg);
}

.mm16_img {
    background-image: url(../img/gifts/img16@2x.jpg);
}

.mm17_img {
    background-image: url(../img/gifts/img17@2x.jpg);
}

.mm18_img {
    background-image: url(../img/gifts/img18@2x.jpg);
}

.mm19_img {
    background-image: url(../img/gifts/img19@2x.jpg);
}

.mm20_img {
    background-image: url(../img/gifts/img20@2x.jpg);
}

.mm21_img {
    background-image: url(../img/gifts/img21@2x.jpg);
}

.mm22_img {
    background-image: url(../img/gifts/img22@2x.jpg);
}

.mm23_img {
    background-image: url(../img/gifts/img23@2x.jpg);
}

.mm24_img {
    background-image: url(../img/gifts/img24@2x.jpg);
}

.mm25_img {
    background-image: url(../img/gifts/img25@2x.jpg);
}

.mm26_img {
    background-image: url(../img/gifts/img26@2x.jpg);
}

.mm27_img {
    background-image: url(../img/gifts/img27@2x.jpg);
}

.mm28_img {
    background-image: url(../img/gifts/img28@2x.jpg);
}

.mm29_img {
    background-image: url(../img/gifts/img29@2x.jpg);
}

.mm30_img {
    background-image: url(../img/gifts/img30@2x.jpg);
}

.mm31_img {
    background-image: url(../img/gifts/img31@2x.jpg);
}

.mm32_img {
    background-image: url(../img/gifts/img32@2x.jpg);
}

.mm33_img {
    background-image: url(../img/gifts/img33@2x.jpg);
}

.mm34_img {
    background-image: url(../img/gifts/img34@2x.jpg);
}

.mm35_img {
    background-image: url(../img/gifts/img35@2x.jpg);
}

.mm36_img {
    background-image: url(../img/gifts/img36@2x.jpg);
}

.mm37_img {
    background-image: url(../img/gifts/img37@2x.jpg);
}

.mm38_img {
    background-image: url(../img/gifts/img38@2x.jpg);
}

.mm39_img {
    background-image: url(../img/gifts/img39@2x.jpg);
}

.mm40_img {
    background-image: url(../img/gifts/img40@2x.jpg);
}

.mm41_img {
    background-image: url(../img/gifts/img41@2x.jpg);
}

.mm42_img {
    background-image: url(../img/gifts/img42@2x.jpg);
}

.mm43_img {
    background-image: url(../img/gifts/img43@2x.jpg);
}

.mm44_img {
    background-image: url(../img/gifts/img44@2x.jpg);
}

.mm45_img {
    background-image: url(../img/gifts/img45@2x.jpg);
}

.mm46_img {
    background-image: url(../img/gifts/img46@2x.jpg);
}

.mm47_img {
    background-image: url(../img/gifts/img47@2x.jpg);
}

.mm48_img {
    background-image: url(../img/gifts/img48@2x.jpg);
}

.mm49_img {
    background-image: url(../img/gifts/img49@2x.jpg);
}

.mm50_img {
    background-image: url(../img/gifts/img50@2x.jpg);
}

.mm51_img {
    background-image: url(../img/gifts/img51@2x.jpg);
}

.mm52_img {
    background-image: url(../img/gifts/img52@2x.jpg);
}

.mm53_img {
    background-image: url(../img/gifts/img53@2x.jpg);
}

.mm54_img {
    background-image: url(../img/gifts/img54@2x.jpg);
}

.mm55_img {
    background-image: url(../img/gifts/img55@2x.jpg);
}

.mm56_img {
    background-image: url(../img/gifts/img56@2x.jpg);
}

.mm57_img {
    background-image: url(../img/gifts/img57@2x.jpg);
}

.mv_yw {
    background-image: url(../img/movie_activity/film_yw@2x.png);
}

.mv_shw {
    background-image: url(../img/movie_activity/film_shw@2x.png);
}

.mv_dhz {
    background-image: url(../img/movie_activity/film_dhz@2x.png);
}

.mv_qgj {
    background-image: url(../img/movie_activity/film_qgj@2x.png);
}