
<!DOCTYPE html>
<html lang="en">
  <body>
		
		
		<div class="col-md-12 main">
          	<div class="panel panel-primary" style="margin-top:20px;">
				  <div class="panel-heading">礼品记录</div>
				  <div class="panel-body">
				    
				  </div>
		         	<div class="">
			            <table class="dataTable striped border bordered hovered cell-hovered display giftTab TBstyle">
			              <thead>
			                <tr>
			                  <th>礼品类型</th>
			                  <th>礼品数量</th>
			                  <th>取件人</th>
			                  <th>手机号码</th>
			                  <th>配送地址</th>
			                  <th>订单号</th>
			                  <th>承运公司</th>
			                  <th>状态</th>
			                </tr>
			              </thead>
			              <tbody></tbody>
			            </table>
		          </div>
			</div>
        </div>
        
       
     <div class="clearfix"></div>
     <button type="button" class="btn btn-primary btn-back" onclick="goBack()"> 返  回 </button>
     

    <script src="/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
    <script src="/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/js/dateTable-Tools.js" type="text/javascript"></script>
    <script src="/js/public.js"></script>
    <script type="text/javascript">
   		
    
    
	
      $(function(){
		initData();
	  })
	 
	 
	  //初始化用户数据
     function initData() {
     	var userId = '$userid';
     	var orderId = '$orderId';
     	var url;
     	if(!isNaN(userId)){
		   url="/user/loadUserGift?userId="+userId+"&orderId="+orderId;
		}else{
		   url="/order/loadOrderGift?orderId="+orderId;
		}
		$('.giftTab').DataTable({
						"oLanguage" : myDataTable.getOLanguage() ,
						//"aaSorting": [[ 4, "desc" ]],//设置第5个元素为默认排序 
						"pagingType" : "full_numbers", //分页样式
						"bFilter" : false,//开启搜索过滤
						"data-searching" : false,//开启搜索
						"bAutoWidth" : false, //自动宽度
						"bPaginate" : true, //是否显示分页工具
						"ordering" : false, //禁用排序功能
						"bLengthChange": false, //改变每页显示数据数
						"aLengthMenu" : [ [ 10, 20, 30 ], [ 10, 20, 30 ] ],//定义每页显示数据数量
						//"iDisplayLength":1,//默认显示条数
						"processing" : true,//是否显示处理状态(排序的时候，数据很多耗费时间长的话，也会显示这个)
						"serverSide" : true,//是否开启服务器模式
						"ajax" : {
							"url" : url,
							"type" : "post",
							"dataType" : 'json',
							//"success": fnCallback,  
							"timeout" : 15000,   
							"error" : handleAjaxError
						
						},
						"columns" : [
								
								
								{
									"data" : "giftName",
									"render" : myDataTable.getRender()
								},
								{
								"data" : "num",
									"render" : function(data, type, row) {
										if (data != null) {
											return data;
										} else {
											return 0;
										}
									 }
								},
								{
									"data" : "recipients",
									"render" : function(data, type, row) {
										var text = "";
										if (data != null) {
											if (data.length > 5) {
												text = data.substring(0,5);
											} else {
												text = data;
											}
										} else {
											data= "";
										}
										return "<span title='" + data + "'>" + text + "</span>";
									}
								},
								{
									"data" : "mobile",
									"render" : myDataTable.getRender()
								},
								{
									"data" : "address",
									"render" : function(data, type, row) {
										if(data.length > 30){
                                        	data = data.substring(0, 30);
                                    	}
                                    	return '<span class="text-overflow">'+ data + '</span>';
									}
								},
								{
									"data" : "logisticsSn",
									"render" : myDataTable.getRender()
								},
								{
									"data" : "logisticsCompany",
									"render" :myDataTable.getRender()
								},
								{
									"data" : "logisticsStatus",
									"render" : myDataTable.getRender()
								}],
						"retrieve" : true
			});
		}
    
		  
		function goBack(){
	    	var userId = '$userid';
	     	var orderId = '$orderId';
	     	if(!isNaN(userId)){
			   load("/user/userOrderList/"+userId);
			}else{
			   load("/order/orderList");
			}
    	}	
     
    </script>
  </body>
</html>
